# Versions
# ========

# Version pins for components not specific to a given Plone version. Mostly
# buildout recipes and extensions.

[versions]
zc.buildout = 1.4.3
zc.recipe.egg = 1.2.3b2


# Extension versions
# ------------------
buildout.dumppickedversions = 0.4
isotoma.buildout.autodevelop = 0.0.18
isotoma.buildout.logger = 0.0.0


# Recipe versions
# ---------------
buildout-script = 0.2a1
isotoma.recipe.apache = 1.0.3
isotoma.recipe.cluster = 0.0.12
isotoma.recipe.crond = 0.0.1
isotoma.recipe.depcheck = 0.0.6
isotoma.recipe.distros = 0.0.0
isotoma.recipe.facts = 0.0.5
isotoma.recipe.gocaptain = 0.0.13
isotoma.recipe.ploneprefetch = 0.0.2
isotoma.recipe.plonetools = 0.0.16
isotoma.recipe.postdeploy = 0.0.6
isotoma.recipe.portmap = 0.0.2
isotoma.recipe.pound = 0.1.11
isotoma.recipe.template = 0.0.5
isotoma.recipe.varnish = 0.1.9
isotoma.recipe.zeo = 2.0.4
isotoma.recipe.zeopack = 0.0.0
isotoma.recipe.zope2install = 0.0
isotoma.recipe.zope2instance = 0.0.3
iw.recipe.fss = 0.2.1
plone.recipe.command = 1.1
plone.recipe.zope2zeoserver = 1.4
z3c.recipe.mkdir = 0.3.1
zc.recipe.egg = 1.2.2

isotoma.plone.linkchecker = 0.0.7
isotoma.zope.aqheaders = 0.0.3
isotoma.zope.groupreadableblobstorage = 0.0.5
Cheetah = 2.2.1
Jinja2 = 2.5.5
Yaybu = 0.1.21
yay = 0.0.48
PyYAML = 3.10

# Recipes and dependencies for solr
# ---------------------------------
collective.recipe.solrinstance = 3.8
hexagonit.recipe.download = 1.5.1
iw.recipe.template = 0.2
setuptools-git = 0.4.2


# Hotfix versions
# ---------------
Products.PloneHotfix20110531 = 2.0
Products.PloneHotfix20110720 = 1.2
Products.Zope-Hotfix-20110622 = 1.0
Products.PloneHotfix20110928 = 1.1


# Deprecated
# ----------
#
# These are versions that are no longer supported but might be uninstalled by buildout
# If ``allowed-picked-versions`` is set to True we need version pins to be able to uninstall
# them
plone.recipe.cluster = 1.0.0rc1
plone.recipe.distros = 1.5
plone.recipe.zope2install = 3.3

